<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Panel</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin">Admin Panel</a>
    </div>
    <ul class="nav navbar-nav">

      <li><a href="/customer">Home</a></li>

      <li><a href="/admin">Admin Home</a></li>

       <li><a href="/admin/category">Category Panel</a></li>

       <li><a href="/admin/product">Product Panel</a></li>

       <li class="active" ><a href="/admin/order">Order Panel</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">

<div class="form-group">
<form method="post">
  <label>Search Order By Product Name</label><br>
  <input type="text" class="form-control" name="sname" required><br>
  <input type="submit" class="btn btn-success btn-block" value="Search">
</form>
</div>

<p><%- searchResult %></p> 

<h3 align="center" class="text-success">All Orders</h3>
<div class="table-responsive">      
<table border="1" class="table">
    <tr>
      <th>Order Id</th>
      <th>Customer Name</th>
      <th>Customer Address</th>
      <th>Customer Phone</th>
      <th>Product Name</th>
      <th>Product Quantity</th>
      <th>Total Price</th>
      <th>Order Date</th>
      <th>Order Status</th>
      <th>Option</th>
    </tr>
    <% for(var i = 0; i < orders.length , i < order.length ; i++) { %>
    <tr>
      <td><%= order[i].sku %></td>
      <td><%= order[i].customer %></td>
      <td><%= order[i].address %></td>
      <td><%= order[i].phone %></td>
      <td><%= orders[i].name %></td>
      <td><%= order[i].quantity %></td>
      <td><%= order[i].pricee %></td>
      <td><%= order[i].date %></td>
      <td class="text-danger"><%= orders[i].status %></td>
      <td><a href="/admin/order/edit/<%= order[i].id %>">Edit</a></td>
    </tr>
    <% } %>
  </table>
 </div> 

</div>

</body>
</html>
